<% flash.each do |key, value| %>
    <% if value.present? %>
        <!-- <div class="alert alert-block alert-<%#= switch_key(key) %>"> -->
        <div class="alert alert-block alert-<%= switch_key(key) %>">
          <% if key.to_s == 'info'%>
              <i class="icon-hand-right"></i>
              <%= value %>
          <% end %>
          <button class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
          </button>
          <% if key.to_s != 'info'%>
              <i class="icon-ok green"></i>
              <%= value %>
          <% end %>
          <%- flash.delete(key) -%>
        </div>
    <% end %>
<% end %>
