@charset "utf-8";
/* CSS Document */
.searchBox{
   width:712px;
   height:34px;
   background: url('index.png') no-repeat left center;
   float:left;
   padding:10px 9px;
   line-height:30px; 	
}
.search{
    position:relative;	
}
.showAllDiv{
    position:absolute;
	top:30px;
	background:#fff;
	border:1px solid #666;
	padding:5px;
	width:200px;
	left:126px;	
}
.showAllDiv p a{
    display:block;
	color:#333;
	height:20px;
	line-height:20px;
	padding:2px;	
}
.showAllDiv p a:hover{
	background:#0ba83e;
	color:#fff;
}
.allDiv{
    font-weight:bold;
	display:inline-block;
	padding:0 15px;
	width:112px;
	float:left;	
}
.searchInput{
    display:inline-block;
	width:299px;	
	float:left;
}
.searchInput input{
    padding:0 15px;
	border:none;
	background:none;
	width:322px;
	height:32px;	
}
.cartBox{
    width:210px;
	height:48px;
	float:right;
	background: url('productBg.png') no-repeat left center;
	padding:5px;
	cursor:pointer;	
}
.subCategoryDiv{
     position:absolute;
	 left:220px;
	 top:0;
	 z-index:1111;	
	 width:520px;
	 padding:10px;
	 background-color: #fff;
    border-color: #d3d3d3 #999 #999 #d3d3d3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    display: none;
    font-size: 12px;
    height: 590px;
}
.productDiv{
	background:#fff;
	width:120px;
	height:34px;
	border:1px solid #ededed;
	padding:5px;
	line-height:18px;
	
}
.productDiv strong{
    margin:0 3px;	
}
.tano-price{
	color:#e70000;
	font-size:1.4em;
}
.keyWordDiv a{
    margin:0 1.2em 0 0;
	white-space:nowrap;
}
.menusDiv p{
    background:url('searchBg02.jpg') repeat left center;
	width:928px;
	height:16px;
	padding:10px 15px;
	border:1px solid #cfcfcf;	
}
.menusDiv p.last{
	border-top:none;
}
.menusDiv p a{
    color:#333;
	display:inline-block;
	width:120px;	
}
.noticeDiv{
    width:960px;
	height:62px;
	background: url('noticeBg.jpg') no-repeat left center;
}
.notice{
	width:740px;
	padding:10px;
	float:right;
}
.date{
    color:#c00000;	
}
.noticeP{
    background:url('arrow.jpg') no-repeat left 2px;
	padding-left:15px;
	float:right;
	width:580px;
	padding-right:20px;	
}
.news{
	background:#f7f7f7;
	padding:5px 15px;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	line-height:25px;
}
.blackDate{
    color:#333;
	font-weight:bold;
	margin-right:20px;	
}
.blue{
    color:#1a5fe7;
	margin-left:20px;
}
.title{
    background:#dc0019;
	color:#fff;	
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
}
.flagImg{
    border:9px solid #cccccc;
	padding:15px;
	background:#fff;
}

.flagImg ul li{
    float:left;
	width:288px;
	margin:8px;	
}

.flagImg ul li img{
	width:288px;
	height:129px;
	overflow:hidden;
}
.moreDiv{
   padding:15px; 	
}
.more{
    background:#dc0019;	
	color:#fff;	
	font-size:14px;
	font-weight:bold;
	padding:10px;
}
.sortLeft{
    width:220px;
	float:left;	
}
.cateTitle{
    background: url('sort.jpg') no-repeat;
	width:220px;
    display: block;
    height: 25px;
    padding: 6px 0 3px 35px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;

	
}
.sortLeft ul li a{
    border-bottom:1px dotted #cccccc;
	background:#fff url('arrow.jpg') no-repeat  10px 8px;
	padding:5px 5px 5px 25px;
	display: block;
	color:#333;
}
.sortLeft .subCategoryDiv ul li a{
	border-bottom:1px dotted #cccccc;
	background:#fff url('billet.gif') no-repeat  1px 8px;
	padding:5px 5px 5px 25px;
	display: block;
	color:#333;
}
.sortLeft .subCategoryDiv ul li a:hover{
	background:#fff url('billet.gif')  no-repeat  1px -43px;
}
.sortRight{
   width:720px;
   float:right; 	
}
.sortRight ul li a{
    border-bottom:1px dotted #cccccc;
	background:#fff url('arrow.jpg') no-repeat  10px 8px;
	padding:5px 5px 5px 25px;
	display: block;
	color:#333;
}
.sortRight .subCategoryDiv ul li a{
	border-bottom:1px dotted #cccccc;
	background:#fff url('billet.gif')  no-repeat  1px 8px;
	padding:5px 5px 5px 25px;
	display: block;
	color:#333;
}
.sortRight .subCategoryDiv ul li a:hover{
	background:#fff url('billet.gif')  no-repeat  1px -43px;
}
.recommend{
	border:1px solid #ccc;
	border-top:none;
	padding:20px;
	background:#fff;
	position:relative;	
}
.recommend ul li{
    float:left;
	width:150px;
	margin:0 9px;
}

.recommend ul li img.commandImg{
	width:148px;
	height:203px;
	overflow:hidden;
	border:1px solid #ccc;
}

.recommend ul li img.categoryImg{
	width:148px;
	height:80px;
	overflow:hidden;
	border:1px solid #ccc;
}
.arrowLeft{
    position:absolute;
	top:50%;
	margin-top:-100px;
	left:0;	
}
.arrowLeft a:hover,.arrowRight a:hover{
    opacity:0.5;	
}
.arrowRight{
    position:absolute;
	top:50%;
	margin-top:-100px;
	right:0;	
}
.newsNotice{
	padding:15px;
	border:1px solid #ccc;
	border-top:none;
}
.newsNoticeP{
    border-bottom:1px dotted #ccc;
	height:40px;
	line-height:40px;	
}
.subMenu{
    background:#f5f5f5;	
	padding:25px 10px;
}
.footerTitle{
    border-left:1px dotted #ccc;
	float:left;
}

.subTitle{
	display:inline-block;	
}
.arrowTitle{
	background: url('arrow.jpg') no-repeat left 8px;
	padding-left:15px;
}
.arrowTitle a{
    
	color:#333;
	line-height:25px;
}
.pl30{
    padding-left:30px;	
}
.pl20{
    padding-left:20px;	
}
.subTel{
	background:#f5f5f5;	
}
.footerTel{
    width:746px;
	margin:0 auto;
	border:1px solid #ccc;
	padding:10px;	
}
.footerTel ul li{
     width:373px;
	 float:left;	
}
.footerTel ul li p{
    font-size:10px;
	padding-left:65px;
	padding-top:5px;
		
}
.topTitle{
    border-top:7px solid #e4211d;
	font-size:22px;
	font-weight:bold;
	color:#e4211d;
	padding:5px 0;	
}
.detailSearchDiv{
    position:relative;	
}
.showOpenP{
    background:#f7f7f7;
	border:1px solid #ccc;
	padding:10px;
	font-size:14px;
	font-weight:bold;	
}
.openSpan{
    position:absolute;
	right:10px;
	top:10px;	
}
.closeSpan{
    position:absolute;
	right:10px;
	top:10px;	
}
.openDiv{
	background:#f7f7f7;
	border:1px solid #ccc;
	border-top:none;
	padding:10px;
}
.paramDl dd{
    padding-left:20px;
	float:left;
	width:30%;
	margin-top:5px;	
}
.paramDl dd input,.paramDl dd img{
    margin-right:5px;	
}
.pageNation{
    font-weight:bold;	
}
.numSpan{
	font-size:22px;
	font-weight:bold;
}
.page{
    position:relative;
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;	
}
.page .pagination a{
	margin-right:6px;
}
.page .pagination span.current{
	background-color:#666;
	font-weight: bold;
    padding: 5px 6px;
	color:#fff;
	margin-right:6px;
}
.page .pagination img{
	vertical-align:middle;
}
.page .pagination .gap{
	margin-right:6px;
}
.page .pagination .prev_page{
	margin-right:10px;
}
.page .pagination .next_page{
	margin-left:10px;
}

.page .page_skip{
    position:absolute;
	right:0;
	top:-2px;	
}
.page .page_skip input{
    padding:2px 3px;
	text-align:right;
	width:50px;	
}

.selectDiv{
    position:relative;
	line-height:31px;	
}
.selectP{
    background:url('selectDivBg.png') no-repeat;
	width:439px;
	height:31px;
	line-height:31px;
	position:absolute;
	left:55px;
	top:2px;	
}
.selectP span{
    margin:0 20px;	
}

.productDetail{
    /*border-top:3px solid #ccc;*/
	padding:10px 0;	
	line-height:25px;
}
.imgBorder{
	border:1px solid #ccc;
	width:148px;
	height:148px;
}
.money{
    font-size:22px;
	color:#e4211d;
	font-weight:bold;	
	vertical-align: middle;
}
.priceDd{
	border-bottom:1px dotted #ccc;
	/*height:80px;*/
}


.commentP{
    background: url('icon/bg-tano-mark-170-23-00.gif') no-repeat left center;
	padding-left:180px;	
}
.introduceDiv{
    border:1px solid #ccc;
	padding:5px 10px;	
}
.ritzTitle{
	border-bottom:2px solid #e4211d;
    font-size: 22px;
    font-weight: bold;
    color: #e4211d;
}
.ritzTable{
    border-bottom:1px dotted #ccc;
}
.ritzTable td{
     padding:10px 5px;	
}
#outer {
	width:280px;
	float:left;
	cursor:pointer; 
}
#con{
	width:278px;
	border:1px solid #dddddd;
}
#tab {
	overflow:hidden;
	zoom:1;
	 background:#fff;
}
#tab li {
	float:left;
	width:50px;
    height:60px;
	border:2px solid #fff;	
	cursor:pointer;	
	margin:10px 5px;
	overflow:hidden;
	text-align:center;
}
#tab li.current {border:2px solid #0098e5;}
.tableSearch td{
    border-bottom:1px dotted #ccc;
	padding:10px 5px;
}
.cartLeftDiv{
    width:720px;
	float:left;	
}
.cartRightDiv{
    width:220px;
	float:right;	
}
.cartMoney{
    width:194px;
	background:#ffede1 ;
	border: 3px solid #efb8a2;
	padding:10px;
}
.tlist{
    border-collapse:collapse;
	border:1px solid #ccc;	
}
.tlist th,.tlist td{
    padding:5px;
	border:1px solid #ccc;	
}
.tlist th{
	background:#f7f7f7;
}
.tmoney{
    border-collapse:collapse;
	border:1px solid #ccc;
	background:#fff;
}
.tmoney td{
    padding:5px 10px;	
}
.moneyDiv{
    background:#ffede1 ;
	border: 3px solid #efb8a2;
	padding:10px;	
}
.sendNoP{
   background:#f7e7e7;
   padding:4px 0;
   text-align:center;	
}
.pointSpan{
    position:absolute;
	right:0;
	top:2px;	
}
.totalMoneyDiv{
	padding:5px;
	border: 1px solid #999999;
	background:#fff;
}
.totalMoneyDiv p{
    padding:5px 0;	
}
.payTd{
	background:#ededed ;
	padding:5px;
}
.purchaseSpan{
    position:absolute;
	right:0;
	top:5px;	
}
.cartNoticeDiv{
	background:#f8f8f8  ;
	border: 3px solid #ccc;
	padding:10px;
}
.cartProductPadding{
	background:#ededed ;
	padding:20px 10px;
}
.cartTotalTd{
    background:#ffebed;
}
.overFlowTd{
    height:40px;
	max-height:300px;
	overflow-y:scroll;	
}
.userInfDiv{
    border:1px solid #ccc;
	width:218px;
	background:#f8f8f8;
	float:left;	
}
.padding10{
    padding:10px;	
}
.subMypageDiv .my_tit{
	padding:10px;
	background-color:#f39aa4;
	
	font-weight:bold;
}
.subMypageDiv p a{
	display:block;
	padding:6px 10px;
	color:#333333;
	border-top:1px dotted #ccc;
	background: url('icon/grayArrow.png') no-repeat 12px center;
	text-indent:1.5em;
}
.subMypageDiv p a.on,.subMypageDiv p a:hover{
	background:#f9d6d6 url('icon/redArrow.png') no-repeat 12px center;
	color:#e4211d;
	font-weight:bold;
	text-decoration:none;
}
.productUl li{
	width:140px;
	height:140px;
	float:left;
	border:1px solid #333;
	margin-right:2px;
	margin-bottom:2px;
}
.productUl li img{
    width:100%;	
}
.product-inline{
	display: inline;
}
.product_data_label {
    background: #000;
    border-radius: 4px;
    color: #fff;
    padding: 2px 4px;
}
.click_txt{
	color: #808080;
    float: left;
    padding: 2px 3px;
    text-align: left;
}
.pageCounter_box{
	float: right;
    margin: 0 5px;
    text-align: right;
}
.pd_list{
	border-collapse:collapse;
	border:1px solid #d8d8d8;
}
.pd_list th,.pd_list td{
	border: 1px solid #d8d8d8;
    text-align: center;
	padding:2px;
}
.pd_list th{
	background-color: #f5f5dc;
}
.ship_list th{
	background-color: #ffe4e1;
}
.faqTitle{
    border:1px solid #ccc;
	padding:5px;	
}
.catrgoryUl{
	
}
#catrgoryUl {
	overflow:hidden;
	zoom:1;
	background:#fff;
}
#catrgoryUl li {
	float:left;
    border: 1px solid #e88b8e;
	border-bottom:none;
	border-radius: 4px 4px 0 0;
	cursor:pointer;	
	padding:10px;
	overflow:hidden;
	text-align:center;
	background:#f0f0f0;
	margin-right:3px;
	background: -webkit-linear-gradient(top,#ffffff, #f4e1c9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,#ffffff, #f4e1c9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,#ffffff, #f4e1c9); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,#ffffff, #f4e1c9); /* 标准的语法 */
	display:block;
	color:#e88b8e;
	font-weight:bold;
}
#catrgoryUl li.current {
	background: -webkit-linear-gradient(top,#fb0d28, #dc0019); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,#fb0d28, #dc0019); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,#fb0d28, #dc0019); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,#fb0d28, #dc0019); /* 标准的语法 */
	color:#fff;
}
#conCategory{
	border:1px solid #dddddd;
	padding:10px;
}
.conP li{
    width:340px;
	float:left;
	margin-bottom:10px;
}
.conP li.oddLi{
	margin-left:18px;
}
.conP dl dt a{
    
	color:#0c9dd9;
	display:block;
	font-weight:bold;	
}
.conP dl dd.CateMore a{
    text-align:right;
	text-decoration:underline;
	color:#0c9dd9;
	background:none;	
}
.conP dl dd a{
	color:#333;
	margin-top:2px;	
	display:block;
	background:url('billet.gif') no-repeat 1px 1px;
	padding-left:15px;
}
.conP dl dd.moreDd a{
    background:#0c9dd9;
	color:#fff;
	text-align:center;	
}

#keyPageUl{
	overflow:hidden;
	zoom:1;
	background:#fff;
}
#keyPageUl{
    border-bottom:1px solid #ddd;	
}
#keyPageUl li {
	float:left;
    border: 1px solid #d8bc99;
	border-bottom:none;
	border-radius: 4px 4px 0 0;
	cursor:pointer;	
	padding:10px 10px;
	overflow:hidden;
	text-align:center;
	background:#f0f0f0;
	margin-right:3px;
	font-weight:bold;
	background: -webkit-linear-gradient(top,#ffa34a, #ef7f1c); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,#ffa34a, #ef7f1c); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,#ffa34a, #ef7f1c); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,#ffa34a, #ef7f1c); /* 标准的语法 */
	color:#fff;
	
}
#keyPageUl li.current{
	background:#ffe6cc;
	color:#ff0000;
	
}
.keyPageP{
	
}

#kiyaku h1{
	background-color:#CCCCCC;
}

#kiyaku p{
	margin-bottom:10px;
}

span.qo_mark {
    color: #f00;
    font-weight: bold;
}

.orangeButton {
    background-color: #ED5F09;
    background: linear-gradient(to bottom, #F28B4D 0%,#ED5F09 100%);
    border: 0px;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    box-shadow: 2px 2px #ddd;
    margin-bottom: 5px;
    margin-left: 15px;
}

.tag {
    background-color: #ff0000;
    border-radius: 5px;
    color: #fff;
    padding: 2px;
}

.pro_link{
	background-color: rgb(252, 213, 181);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.price_memo{
    font-weight: bold;
}